@import "../fonts2/stylesheet.css";

.container {
    max-width: 1240px;
    margin: auto;
    overflow: hidden;
}

body {
    /*
    background: url('aloha-mobile.png');
    background: url('aloha-tablet-600px.png');
    background: url('aloha-desktop-1240px.png');
    filter: opacity(0.8);
    background-size: 100%;
    */
    font-family: "Raleway", sans-serif;
}

header {
    padding: 0 8px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav > * {
    width: 20%;
    flex-basis: 1;
}

header nav#logo-bar {
    padding: 14px 0 6px;
}

header nav {
    width: 100%;
}

header nav div img {
    height: 40px;
}

header #logo {
    order: 1;
}

header #cart {
    order: 2;
    text-align: right;
}

header ul {
    order: 3;
    padding: 13px 30px 10px;
    border-top: 1px solid #d7d7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 6px;
}

header ul * {
    color: #e2574c;
    text-decoration: none;
    font-size: 12px;
}

.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
    background-position: center, center 30px, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, contain, cover;
    display: flex;
    justify-content: center;
    height: 100vw;
}

.hero-text {
    text-align: center;
    color: #f0f8ff;
    text-shadow: 2px 2px #76797f;
    align-self: center;
}

.hero h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.hero h1 {
    font-size: 31px;
    font-family: "Playfair Display", serif;
    width: 99%;
}

.content {
    text-align: center;
    padding: 30px 25px;
    font-size: 14px;
}

.content h2 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    display: inline-block;
    font-size: 31px;
    padding: 20px 0;
}

.content h2 + h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.content p {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    line-height: 2;
}

.category ul {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.category li a {
    line-height: calc(50vw - 5px);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #76797f;
    text-decoration: none;
}

.category li {
    font-size: 14px;
    text-align: center;

}

.category li.large {
    grid-area: auto / span 2;
}

#mens {
    background: url("../images/mens-category.jpg") no-repeat;
    background-size: 100%;
}

#trends {
    background: url("../images/trends-category.jpg") no-repeat;
    background-size: 100%;
}

#glasses {
    background: url("../images/glasses-category.jpg") no-repeat;
    background-size: 100%;
}

#sale {
    background: url("../images/sale-category.jpg") no-repeat;
    background-size: 100%;

}

#bags {
    background: url("../images/bags-category.jpg") no-repeat;
    background-size: 100%;
}

#womens {
    background: url("../images/womens-category.jpg") no-repeat;
    background-size: 100%;
}

.carousel-cell {
    width: 100%;
}

.carousel {
    text-align: center;
    margin-bottom: 60px;
}

.carousel-item {
    width: 100%;
}

.carousel-item img {
    width: 80%;
}

.carousel-item p {
    font-size: 15px;
    padding: 19px;
    color: #969696
}

.carousel-item .product_type {
    padding: 15px;
}

.carousel-item h3 {
    font-size: 25px;
    font-family: "Playfair Display", serif;
    color: #e2574c;
}

#updates {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url("../images/wave-bkgd.jpg") no-repeat bottom;
    color: #ffffff;
    text-align: center;
    padding-bottom: 50px;
}

#updates form {
    padding: 25px 0 10px 0;
    text-align: center;
}

#updates form input {
    border: 3px solid white;
    border-radius: 10em;
    padding: 10px;
}

#updates #email {
    width: 30vw;
    padding-left: 15px;
    padding-right: 50px;
}

#updates #submit-button {
    background-color: #e2574c;
    color: #ffffff;
    margin-left: -60px;
    padding-left: 25px;
    padding-right: 25px;
}

footer {
    line-height: 1.5;
    margin-top: 10px;
    padding: 10px;
    background-color: #242424;
    color: #ffffff;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer a {
    color: #ffffff;
}

.details {
    font-size: 14px;
}

.contact_info {
    margin: 20px 0 20px 0;
}

.address {
    color: #969696;
}

footer ul {
    list-style: none;
    display: inline-flex;
}

footer .social-media li {
    font-size: 0;
}

footer .social-media li::before {
    display: inline-block;
    font-size: 13px;
    padding: 5px;
}

.facebook::before {
    content: '\f39e';
    font-family: 'Font Awesome 5 Brands';
}

.twitter::before {
    content: '\f099';
    font-family: 'Font Awesome 5 Brands';
}

.instagram::before {
    content: '\f16d';
    font-family: 'Font Awesome 5 Brands';
}

.pinterest::before {
    content: '\f0d2';
    font-family: 'Font Awesome 5 Brands';
}

.google_plus::before {
    content: '\f0d5';
    font-family: 'Font Awesome 5 Brands';
}

@media screen and (min-width: 600px) {
    header ul * {
        font-size: 16px;
    }

    header #logo {
        order: 1;
    }

    header #cart {
        order: 3;
    }

    header nav ul {
        order: 2;
        width: 40%;
        justify-content: center;
        border: 0;
    }

    header nav ul li {
        padding: 0 10px;
    }

    header nav div img {
        height: 50px;
    }

    .hero {
        margin-top: 10px;
        background-position: center, center 55px, center;
        height: 62vh;
    }

    .hero h3 {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .hero h1 {
        font-size: 50px;
        width: 100%;
    }

    .content {
        font-size: 24px;
        padding: 40px 25px;
    }

    .content h2 {
        font-size: 40px;
        padding: 20px 0;
    }

    .content p {
        font-size: 14px;
    }

    .category ul {
        margin-top: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    .category li a {
        line-height: calc(25vw - 5px);
        font-size: 30px;
    }

    .category li.large {
        grid-area: auto / span 2;
    }

    .carousel-cell {
        width: 50%;
    }

    #updates form input {
        font-size: 20px;
    }

    #updates {
        padding-bottom: 70px;
        text-align: center;
    }

    .details {
        font-size: 16px;
        text-align: left;
        padding: 0;
    }

    .address {
        color: #767676;
    }

    footer {
        padding: 50px 40px 50px 10px;
        flex-direction: row;
    }

    footer ul {
        list-style: none;
        display: inline;
        text-align: left;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
    }

    footer .social-media li {
        font-size: 15px;
    }

    footer .social-media li::before {
        font-size: 15px;
        width: 35px;
    }

    #updates #submit-button {
        margin-left: -50px;
    }

}

@media screen and (min-width: 1240px) {
    header nav div img {
        height: 60px;
    }

    header #logo {
        margin-left: 30px;
    }

    header #cart {
        margin-right: 30px;
    }

    header nav ul li {
        padding: 0 20px;
    }

    .hero {
        height: 600px;
        background-size: cover, contain, contain;
        background-repeat: no-repeat, no-repeat, repeat;
        background-position: center, center 55px, center;
    }

    .hero h3 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .hero h1 {
        font-size: 60px;
        width: 100%;
    }

    .content {
        padding: 16px 300px;
    }

    .content h2 {
        font-size: 39px;
        padding: 35px 0;
    }

    .category ul {
        margin-top: 40px;
    }

    .category li {
        height: 304px;
    }

    .category li a {
        line-height: 304px;
        font-size: 35px;
    }

    .category li.large {
        grid-area: auto / span 2;
    }

    .carousel-cell {
        width: 25%;
    }

    #updates #email {
        width: 30%;
        padding-left: 20px;
    }

    footer {
        padding: 70px 80px 70px 50px;
    }

    .details {
    }

    footer .social-media li {
    }

    footer .social-media li::before {
        width: 25px;
    }

}
