@font-face {
    font-family: "Playfair Display";
    src: url(fonts/PlayfairDisplay-Regular.otf);
}

@font-face {
    font-family: "Playfair Display Italic";
    src: url(fonts/PlayfairDisplay-Italic.otf);
}

@font-face {
    font-family: "Playfair Display Bold";
    src: url(fonts/PlayfairDisplay-Bold.otf);
}


@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Medium.ttf)
}

@font-face {
    font-family: "Raleway Light";
    src: url(fonts/Raleway-Light.ttf)
}


body {
    background: url('aloha-desktop-1240px.png');
    background-size: 100%;
    filter: opacity(0.8);
    font-family: "Raleway";
}

header {
    padding: 0 8px;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav#logo-bar {
    padding: 14px 0px 6px;
}
header img {
    height: 100%;
}
header img#logo {
    order: 1;
    width: 30%;
}
header img#cart {
    order: 2;
    width: 13%;
}

header nav {
    width: 100%;
}

header ul {
    order: 3;
    padding: 13px 30px 10px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    margin-top: 6px;
}
header ul * {
    color: #e2574c;
    text-decoration: none;
    font-size: 12px;
}

.hero {
    background:linear-gradient( 0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%),
    url("images/banner-girl.png"), url("images/flower-bkgd.jpg");
    background-position: center, center 30px, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, contain, cover;
    display: flex;
    justify-content: center;
    height: 100vw;
}
.hero-text {
    text-align: center;
    color: #f0f8ff;
    text-shadow: 2px 2px #76797f;
    align-self: center;
}
.hero h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 16px;
}
.hero h1 {
    font-size: 31px;
    font-family: "Playfair Display";
    width: 99%;
}

.content {
    text-align: center;
    padding: 30px 25px;
    font-size: 14px;
}
.content h2 {
    font-family: "Playfair Display Italic";
    display: inline-block;
    font-size: 31px;
    padding: 20px 0;
}
.content h2 + h2 {
    font-family: "Playfair Display Bold";
}
.content p {
    font-family: "Raleway Light";
    font-weight: 100;
    line-height: 2;
}

.category ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.category li a {
    line-height: calc(50vw - 5px);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #76797f;
    text-decoration: none;
}

.category li {
    font-size: 14px;
    text-align: center;

}
.category li.large {
    grid-area: auto / span 2;
}

#mens {
    background: url("images/mens-category.jpg") no-repeat;
    background-size: 100%;
}
#trends {
    background: url("images/trends-category.jpg") no-repeat;
    background-size: 100%;
}
#glasses {
    background: url("images/glasses-category.jpg") no-repeat;
    background-size: 100%;
}
#sale {
    background: url("images/sale-category.jpg") no-repeat;
    background-size: 100%;

}
#bags {
    background: url("images/bags-category.jpg") no-repeat;
    background-size: 100%;
}
#womens {
    background: url("images/womens-category.jpg") no-repeat;
    background-size: 100%;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    padding-bottom: 75px;
}

.carousel-wrapper {
}

.carousel-item  {
    width: 100vw;
}
.carousel-item img  {
    width: 80%;
}

.carousel-item p {
    font-size: 13px;
    padding: 19px;
}

.carousel-item .product_type {
    font-size: 9px;
    padding: 15px;
}
.carousel-item h3 {
    font-size: 19px;
    font-family: Playfair Display;
    color: #e2574c;

}


#updates {
    background:linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%),
    url("images/wave-bkgd.jpg") no-repeat bottom;
    color: #ffffff;
    text-align: justify;
    padding-bottom: 50px;
}

#updates form {
    display: inline;
}

#updates #email{
    border-radius: 50px 0 0 50px;
    width: 70%;
    height: 30px;
}

#updates #submit-button {
    border-radius: 50px;
    background-color: #e2574c;
    color: #ffffff;
    width: 35%;
    height: 35px;
    border: 3px solid white;
    margin-left: -10%;
}

footer {
    margin-top: 10px;
    padding: 10px;
    background-color: #1B1B1B;
    color: #ffffff;
    text-align: center;
    font-family: Playfair Display;
    font-size: 10px;

}

footer a {
    color: #ffffff;
}

.details {
    padding: 40px;
    font-size: 1.3em;
}
.contact_info {
    margin: 20px 0 20px 0;
    font-size: 1em;
}

.address {
    color: #767676;
    font-size: 1em;
}

footer ul {
    list-style: none;
    display: inline-flex;
    padding: 5px;
}

footer .social-media li {
    font-size: 0;
    padding: 0 10px 0 10px;
}

footer .social-media li::before {
    display: inline-block;
    font-size: 13px;
}

.facebook::before {
    content: '\f39e';
    font-family: 'Font Awesome 5 Brands';
}

.twitter::before {
    content: '\f099';
    font-family: 'Font Awesome 5 Brands';
}

.instagram::before {
    content: '\f16d';
    font-family: 'Font Awesome 5 Brands';
}

.pinterest::before {
    content: '\f0d2';
    font-family: 'Font Awesome 5 Brands';
}
.google_plus::before {
    content: '\f0d5';
    font-family: 'Font Awesome 5 Brands';
}

@media (min-width: 600px)  {

    header ul * {
        font-size: 20px;
    }

    header img#logo {
        order: 1;
        width: 23%;
    }
    header img#cart {
        order: 3;
        width: 10%;
    }

    header ul {
        order: 2;
        border: none;
        width: 50%;
        margin-top: 35px;
        padding: 0 95px 0 0;
    }

    .hero {
        margin-top: 10px;
        background-position: center, center 55px, center;
        height: 50vh;
    }

    .hero h3 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .hero h1 {
        font-size: 60px;
        width: 100%;
    }

    .content {
        font-size: 24px;
        padding: 40px 25px;
    }

    .content h2 {
        font-size: 50px;
        padding: 40px 0;
    }


    .category ul {
        margin-top: 40px;
        grid-template-columns: repeat(4, 1fr);
    }

    .category li a {
        line-height: calc(25vw - 5px);
        font-size: 35px;
    }

    .category li.large {
        grid-area: auto / span 2;
    }

    .carousel-item  {
        width: 50vw;
    }

    .carousel-item .product_type {
        font-size: 15px;
        padding: 10px;
    }

    .carousel-item h3 {
        font-size: 30px;
    }

    .carousel-item p {
        font-size: 20px;
        padding: 70px;
    }

    #updates {
        padding-bottom: 70px;
        height: 50vw;
        margin-top: 10px;
        text-align: center;
    }

    #updates #email {
        border-radius: 50px 0 0 50px;
        width: 50%;
        height: 50px;
        margin-top: 45px
    }

    #updates #submit-button {
        width: 25%;
        height: 55px;
        border: 5px solid white;
    }

    footer {
        margin-top: 10px;
        padding: 10px;
        background-color: #1B1B1B;
        color: #ffffff;
        font-family: Playfair Display;
        font-size: 10px;
        display: flex;
        justify-content: space-around;
    }


    .details {
        font-size: 2em;
        text-align: left;
        margin: 85px 0 85px 0;
        padding: 0;
    }
    .contact_info {
        font-size: 1em;
    }

    .address {
        color: #767676;
        font-size: 1em;
    }

    footer ul {
        list-style: none;
        display: inline;
        padding: 5px;
        text-align: left;
        font-family: "Raleway Light";
    }

    footer .social-media li {
        text-align: center;
        font-size: 2em;
        padding-left: 4em;
    }

    footer .social-media li::before {
        display: inline-block;
        font-size: 13px;
    }
}

@media screen and (min-width:1240px) {

    header img#logo {
        width: 13%;
    }

    header ul * {
        font-size: 15px;
    }

    header img#cart {
        width: 5%;
    }

    header ul {
        order: 2;
        border: none;
        width: 30%;
        margin-top: 25px;
        padding: 0;
    }

    .hero {
        background-position: center, center 55px, center;
        height: 75vh;
        background-size: cover, contain, contain;
        background-repeat: no-repeat, no-repeat, repeat;
    }


    .hero h3 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .hero h1 {
        font-size: 60px;
        width: 100%;
    }

    .content {
        font-size: 18px;
        padding: 20px 25px;
    }

    .content h2 {
        font-size: 39px;
        padding: 35px 0;
    }

    .category ul {
        margin-top: 70px;
    }

    .category li a {
        line-height: calc(25vw - 5px);
        font-size: 35px;
    }

    .category li.large {
        grid-area: auto / span 2;
    }

    .carousel-item  {
        width: 25vw;
    }

    .carousel-item .product_type {
        font-size: 12px;
        padding: 20px;
    }

    .carousel-item h3 {
        font-size: 23px;
    }

    .carousel-item p {
        font-size: 16px;
        padding: 25px;
    }

    #updates {
        margin-top: 20px;
        height:33vh;
    }

    #updates #email {
        width: 33%;
        margin-top: 50px
    }

    #updates #submit-button {
        width: 12%;
    }

    footer {
        margin-top: 10px;
        padding: 10px;
        background-color: #1B1B1B;
        color: #ffffff;
        font-family: Playfair Display;
        font-size: 10px;
        display: flex;
        justify-content: space-around;
    }


    .details {
        font-size: 1.6em;
    }


    footer .social-media li {
        font-size: 1.5em;
    }

}
